.container {
    display: block;
    margin: 0 auto;
}

.container-box {
    min-height: 100px;
    max-height: 400px;
    width: 200px;
    margin: 10px;
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    background-color:slategrey;
}

.container-table {
    /*max-height: 1164px;*/
    /*max-width: 1181px;*/
    /*min-width: 400px;*/
    /*width: 90%;*/
    overflow: auto;
    margin: 0 auto;
    /*margin: 0px 20px;*/
    /*padding: 5px 0;*/

    display: block;
    /*margin: 0 auto;*/
    max-height: 500px;
    /*min-width: 300px;*/
    max-width: 1000px;
    background-color:slategrey;
}

.container-vert {
    /*background: none;*/
    /*overflow: none;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: initial;
    margin: 0 auto;
    /*z-index: 1;*/
}

.container-hor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*min-height: 100%;*/
}

.content-box {
    display: block;
    margin: 0 auto;
    min-height: 100px;
    max-height: 500px;
    width: 200px;
    background-color:slategrey;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}

.wide-blog-box {
    display: block;
    margin: 0 auto;
    height: 100px;
    min-width: 200px;
    max-width: 500px;
    background-color:slategrey;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}

/*add up to 12 coloumns in a container for the total amount*/
.onecol {
    width:8.33%; float:left; }
.twocols {
    width:16.66%;  float:left; }
.threecols {
    width:25%;  float:left; }
.fourcols {
    width:33.33%;  float:left; }
.fivecols {
    width:41.66%;  float:left; }
.sixcols {
    width:50%;  float:left; }
.sevencols {
    width:58.33%;  float:left; }
.eightcols {
    width:66.66%;  float:left; }
.ninecols {
    width:75%; float:left;  }
.tencols {
    width:83.33%;  float:left; }
.elevencols {
    width:91.66%;  float:left; }
.allcols {
    width:100%;  float:left; }