.padded  {
    margin-left:20px;
    margin-right:20px;
}

.light-padding {
    margin-left: 10px;
    margin-right: 10px;
}

.left-padding {
    margin-left: 20px
}

.right-padding {
    margin-right: 20px
}

.content-padding {
    margin-top: 10px;
    margin-bottom: 10px
}


.footer-padding {
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-side-padding {
    padding-left: 10px;
    padding-right: 10px;
}