table {
    border: 1px solid;
    background-color: slategrey;
    /*overflow-x: auto;*/
    /*overflow: hidden;*/
}

.center-table {
    margin: 0 auto;
}

th, td {
    border: 1px solid;
    background-color: grey;
}


.header, .row {
    display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
    flex: 1;        /* distributes space on the line equally among items */
}



.flex-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
}
.flex-table thead {
    color: #fff;
    background: #009485;
}
.flex-table thead tr,
.flex-table tbody tr {
    display: flex;
}
.flex-table tbody tr+tr {
    border-top: 1px solid #ccc;
}
.flex-table thead tr th,
.flex-table tbody tr td {
    display: flex;
    flex: 1;
    padding: .5em;
}
@media screen and (max-width: 640px) {
    .flex-table {
        margin: 0;
        max-width: 100%;

    }

    .center-table {
        margin: 0;
    }
/*    .flex-table thead {*/
/*        display: none;*/
/*    }*/
/*    .flex-table tbody tr {*/
/*        flex-direction: column;*/
/*        margin: 1em;*/
/*        border: 1px solid #ccc;*/
/*    }*/
/*    .flex-table tbody tr td {*/
/*        flex-direction: column;*/
/*    }*/
/*    .flex-table tbody tr td+td {*/
/*        border-top: 1px solid #ccc;*/
/*    }*/
/*    .flex-table tbody tr td:before {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        margin: -.5em -.5em .75em -.5em;*/
/*        padding: .5em;*/
/*        content: attr(data-label);*/
/*        color: #fff;*/
/*        background: #009485;*/
/*    }*/
}